<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Note.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B347F5F22C89C4C009D7C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B347F7322C89C52009D7C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B347F7E22C89C52009D7C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
